<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">

                      We provide trainings that brings about Business Agility to Enterprises and to bring about this agility, it requires a deeper understanding of process and technology.<br><br>

                      <h3>Context Matters </h3>
                      Every Business is unique and a one size fit all solution simply doesnt work. Professionals and Businesses need a blend of Agile processes/frameworks know-how along with technology expertise. <br><br>

                      We provide Agile trainings in areas of Scrum, Kanban, Scaling Agile with SAFe and DA along with Technology aligned trainings of Cloud and DevOps which complements process frameworks as both help in acheiving the required Agility. <br><br>

                      Although we are not accredited to any organization, our Instructors are Certified by the same bodies and thus we are able to offer the same level of training as an Accredited Organization. <br><br>

                      <h3> Our Belief </h3>
                      We believe learning should be everyone’s right and it should add value to not just  professional development of individual but also to the organization at large.<br><br>


                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
