<section class="portfolio-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Get to know more about us</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="#" class="btn">Connect Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
