<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Our Services</h2>
                    <p>In a span of 4 years, we have made a difference to over 3000 professionals across the globe augmenting their skills in all the major domains such as Financial Services, Telecom, Insurance and Banking, Program Management and more</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in site.services %}
            <div class="col-lg-4 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                    <a href="{{service.url}}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
