<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Professional <br>Consulting and Coaching <span> in IT Services</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Learn from experts in Agile, DevOps, Cloud Tech<br> Your success
                            is our success</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Advance <br>your knowledge and skillset in <span>Agile</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Certified Trainers in Scrum, Kanban, Scaled Agile, PMI Disciplined Agile and more.. <br>
                              Our instructors are highly experienced professionals with many years of industry expertise. Learn from the best.</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Professional <br>Consulting and Coaching <span>in IT Services</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Learn from experts in Agile, DevOps, Cloud Tech <br>
                              Your success is our success</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
