<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
              <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                          I had attended the SAFe training conducted by Rahul Gujar in Nov 2019. I found the course to be very interactive and useful.I also appreciate the way you were able to keep the training sessions relevant and practical and also cleared the queries of the team in a simple and lucid manner.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>Tariq Patel</h4>
                        <span>Project Manager - IBM</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
"I have completed the DevOps Engineer WorkShop in Dec'18. I must say that the Instructor (Rahul Sir) is highly dedicated and helpful in making the concept of DevOps tools easy to understand. The practical session on AWS, Ansible, Git, Jenkins and Nagios was done in way that anyone easily grasp and start working in it whether its for Company's project work or self. I highly recommend people who started working or thinking to make career inDevOps to take up this course."
                      </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Ashif</h4>
                        <span>DevOps Engineer</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
I would like to thank you for an excellent training delivered by you for DevOps Foundation. Real life scenario's help me to clarify all doubts. Thank you for good work. Keep it up !!!                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                        <h4>Gyas Ahmad</h4>
                        <span>G&D Corp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
